<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tydic.datav.dao.mapper.TByzbPhotoMapper">
	<resultMap id="BaseResultMap"
		type="com.tydic.datav.dao.po.TByzbPhoto">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="sfzh" property="sfzh" jdbcType="VARCHAR" />
		<result column="file_name" property="fileName"
			jdbcType="VARCHAR" />
		<result column="dest_file_name" property="destFileName"
			jdbcType="VARCHAR" />
		<result column="dest_file_path" property="destFilePath"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, sfzh, file_name, dest_file_name, dest_file_path
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.tydic.datav.dao.po.TByzbPhotoExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_byzb_photo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_byzb_photo
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_byzb_photo
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.tydic.datav.dao.po.TByzbPhotoExample">
		delete from t_byzb_photo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.tydic.datav.dao.po.TByzbPhoto">
		insert into t_byzb_photo (id, sfzh, file_name,
		dest_file_name, dest_file_path)
		values (#{id,jdbcType=VARCHAR}, #{sfzh,jdbcType=VARCHAR},
		#{fileName,jdbcType=VARCHAR},
		#{destFileName,jdbcType=VARCHAR}, #{destFilePath,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.tydic.datav.dao.po.TByzbPhoto">
		insert into t_byzb_photo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="sfzh != null">
				sfzh,
			</if>
			<if test="fileName != null">
				file_name,
			</if>
			<if test="destFileName != null">
				dest_file_name,
			</if>
			<if test="destFilePath != null">
				dest_file_path,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="sfzh != null">
				#{sfzh,jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
				#{fileName,jdbcType=VARCHAR},
			</if>
			<if test="destFileName != null">
				#{destFileName,jdbcType=VARCHAR},
			</if>
			<if test="destFilePath != null">
				#{destFilePath,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.tydic.datav.dao.po.TByzbPhotoExample"
		resultType="java.lang.Integer">
		select count(*) from t_byzb_photo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update t_byzb_photo
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.sfzh != null">
				sfzh = #{record.sfzh,jdbcType=VARCHAR},
			</if>
			<if test="record.fileName != null">
				file_name = #{record.fileName,jdbcType=VARCHAR},
			</if>
			<if test="record.destFileName != null">
				dest_file_name = #{record.destFileName,jdbcType=VARCHAR},
			</if>
			<if test="record.destFilePath != null">
				dest_file_path = #{record.destFilePath,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update t_byzb_photo
		set id = #{record.id,jdbcType=VARCHAR},
		sfzh = #{record.sfzh,jdbcType=VARCHAR},
		file_name = #{record.fileName,jdbcType=VARCHAR},
		dest_file_name = #{record.destFileName,jdbcType=VARCHAR},
		dest_file_path = #{record.destFilePath,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.tydic.datav.dao.po.TByzbPhoto">
		update t_byzb_photo
		<set>
			<if test="sfzh != null">
				sfzh = #{sfzh,jdbcType=VARCHAR},
			</if>
			<if test="fileName != null">
				file_name = #{fileName,jdbcType=VARCHAR},
			</if>
			<if test="destFileName != null">
				dest_file_name = #{destFileName,jdbcType=VARCHAR},
			</if>
			<if test="destFilePath != null">
				dest_file_path = #{destFilePath,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.tydic.datav.dao.po.TByzbPhoto">
		update t_byzb_photo
		set sfzh = #{sfzh,jdbcType=VARCHAR},
		file_name = #{fileName,jdbcType=VARCHAR},
		dest_file_name = #{destFileName,jdbcType=VARCHAR},
		dest_file_path = #{destFilePath,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<select resultMap="BaseResultMap"
		parameterType="com.tydic.datav.dao.po.TByzbPhotoExample"
		id="selectByExampleWithRowbounds">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_byzb_photo
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
</mapper>